*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;    
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    background-color: #FFFFFF;
}

header {
    z-index: 1;
    padding: 1.5rem 0;
    box-shadow: 0px 5px 30px 0px #5c5c5c;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 1rem;
    gap: 1rem;
}

main,
footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

main {
    flex-grow: 1;
}

footer {
    min-height: 2.85rem;
    padding: 1rem;
    text-align: center;
}

footer p {
    font-size: 0.75em;
    font-weight: 600;
    color: #2B283A;
}

.color-picker,
.color-mode,
.get-btn {    
    font-family: "Inter", sans-serif;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    cursor: pointer;
    height: 2.5rem;
}

.color-picker {
    padding: 0 2px;
    min-width: 60px;
}

.color-mode {
    width: 100%;
    padding: 8px;
}

.get-btn {
    background-color: #FFFFFF;
    width: 11rem;
    font-size: 0.75em;
}